{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">About StockUp</h1>
        <p class="lead">StockUp is a team-based fantasy investment platform with real-time stock data.</p>
    </div>
</div>

<hr>

<div class="row mt-4">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">What Can You Do on StockUp?</h1>
    </div>
    <br>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Team Up</h5>
                <p class="card-text">Join teams, compete against other teams, and look at the leaderboards.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Invest</h5>
                <p class="card-text">Invest in the market using real-time stock data from Yahoo Finance.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Predict</h5>
                <p class="card-text">Get predictions for stock prices 30 days into the future.</p>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">Why Use StockUp?</h1>
        <p class="lead">StockUp is a fun and social way to practice investment skills without having to invest real money.</p>
    </div>
</div>

{% endblock %}
