{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">Welcome to StockUp!</h1>
        <p class="lead">The leader of reliable stocks.</p>

        <a href="#" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</div>

<hr>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fast</h5>
                <p class="card-text">Buy stocks with a single press.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Responsive</h5>
                <p class="card-text">View the predicted outcomes.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Scalable</h5>
                <p class="card-text">Supported by real data from corporations.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
