{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">Leaderboard!</h1>
        <p class="lead">View the top performing teams, their members, and their most invested stocks.</p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-7">
        <div class="table-container" style="height: 400px; overflow-y: auto;">
            <table class="table table-sticky">
                <thead>
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col">$ / Capita</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td>{{team.team_name}}</td>
                        <td>{{ team.balance_per_capita|floatformat:2 }}</td>
                        <td>
                            <a href="{% url 'teamview' team_name=team.team_name %}" 
                            type="button" id="submit-btn" class="btn btn-primary w-100">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <div id="teamsChart" class="teamsChart"  style="height: 400px;">
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="text-center mx-auto">
        <h2 class="display-5">Top Stocks</h2>
        <p class="lead">The top 10 stocks, by share volume held by the top 5 teams.</p>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Stock Ticker</th>
                    <th scope="col">Total Shares</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in top_stocks %}
                <tr>
                    <td>{{ stock.ticker }}</td>
                    <td>{{ stock.total_shares }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/graphology/0.25.4/graphology.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/2.4.0/sigma.min.js"></script>
<script src="{% static 'js/leaderboard.js' %}"></script>
{% endblock %}