{% extends "base.html" %}

{% block title %}Invest{% endblock %}

{% load static %}
{% block scripts %}
<script src="{% static 'js/predictor.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">Leaderboard!</h1>
        <p class="lead">View the top individuals and teams, ranked by balance.</p>
    </div>
</div>

<div class="row">
    <form method="post" id="invest-form">
        {% csrf_token %}
        <div class="d-flex gap-2 align-items-center">
            <input type="text" id="search" class="form-control w-75" name="search"
                placeholder="Team Name">

            <button type="submit" id="submit-btn" class="btn btn-primary w-25">Search</button>
        </div>
    </form>
</div>

<hr>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Team Name</th>
                <th scope="col"># of Members</th>
                <th scope="col">$ / Capita</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{team.team_name}}</td>
                <td>{{team.num_members}}</td>
                <td>{{team.balance_per_capita}}</td>
                <td><a href="{% url 'teamview' team_name=team.team_name %}" type="button" id="submit-btn" class="btn btn-primary w-100">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}