{% extends "base.html" %}

{% block title %}{{username}}'s Portfolio{% endblock %}

{% load static %}

{% block content %}

<div class="row">
    <h1 class="mx-auto text-center">{{username}}'s Portfolio!</h1>
</div>

<hr>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Balance</h5>
                <p class="card-text">${{ balance|floatformat:2 }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Stocks Owned</h5>
                <p class="card-text">{{num_stocks}}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Shares Owned</h5>
                <p class="card-text">{{num_shares}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Stock Value</h5>
                <p class="card-text">≈ ${{total_stock_value}}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Stock Purchase Costs</h5>
                <p class="card-text">-${{total_stock_purchase_value}}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Stock Value Gain</h5>
                <p class="card-text">≈ ${{total_value_earned}}</p>
            </div>
        </div>
    </div>
</div>

<hr>

<h2 class="row mx-auto text-center">Teams</h2>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Team Name</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th> 
            </tr>
        </thead>
        <tbody>
            {% for name in team_names %}
            <tr>
                <td>{{name}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end">
                    <a href="{% url 'teamview' name %}" class="btn btn-primary">
                        View Team
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h2 class="row mx-auto text-center">Owned Stocks</h2>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Shares</th>
                <th scope="col">Cost</th>
                <th scope="col">Value</th>
                <th scope="col">Loss/Gain</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td><p class="ticker">{{ stock.ticker }}</p></td>
                <td>{{stock.shares}}</td>
                <td>${{stock.value}}</td>
                <td>≈ ${{stock.actual_value}}</td>
                <td>≈ ${{stock.value_diff}}</td>
                <td class="text-end"><button type="button" class="btn btn-primary btn-modal" data-bs-toggle="modal" data-bs-target="#sellStockModal">Sell Stock</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h2 class="row mx-auto text-center">Transaction History</h2>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Shares</th>
                <th scope="col">Transaction Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{transaction.ticker}}</td>
                <td>{{transaction.shares}}</td>
                <td>{{transaction.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="sellStockModal" tabindex="-1" aria-labelledby="sellStockModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sell Stock</h5>
            </div>
            <form method="post" action="/sell_stock/" id="sell-form">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="ticker">Ticker</label>
                        <input type="text" name="ticker_symbol" class="form-control" id="ticker" placeholder="Ticker Symbol">
                    </div>
                    <div class="form-group">
                        <label for="sellVolume">Volume to Sell</label>
                        <input type="number" name="shares" class="form-control" id="sellVolume" placeholder="0">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Sell</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/portfolio.js' %}"></script>
{% endblock %}